:root {
    --dark: rgba(52, 44, 36, 0.7);
    --darker: rgba(41, 36, 32, 0.8);
    --darkest: rgba(27, 24, 22, 0.9);
    --light: rgba(173, 159, 146, 0.7);
    --orange: rgba(247, 128, 24, 0.7);
    --red: rgba(234, 83, 3, 0.7);
    
}